#boss {
  background-repeat: no-repeat;
  background-size: 100%;
}

#boss-box {
  height: 445px;
}

.lizzard-king {
  background-image: url("../../assets/img/Enemies/lizardArmy/10.png");
  width: 500px;
  margin-top: 10px;
  height: 500px;
}

.mounted-lizard-exicutioner {
  background-image: url("../../assets/img/Enemies/lizardArmy/09.png");
  width: 350px;
  margin-top: 90px;
  height: 500px;
}

.killer-claw {
  background-image: url("../../assets/img/Enemies/lizardArmy/08.png");
  width: 300px;
  margin-top: 30px;
  height: 500px;
}

.wild-spine-horn {
  background-image: url("../../assets/img/Enemies/lizardArmy/07.png");
  width: 300px;
  margin-top: 120px;
  height: 500px;
}

.lizzard-knight {
  background-image: url("../../assets/img/Enemies/lizardArmy/06.png");
  width: 300px;
  margin-top: 100px;
  height: 500px;
}

.lizzard-mage {
  background-image: url("../../assets/img/Enemies/lizardArmy/05.png");
  width: 280px;
  margin-top: 160px;
  height: 500px;
}

.eel-queen {
  background-image: url("../../assets/img/Enemies/lizardArmy/04.png");
  width: 280px;
  margin-top: 160px;
  height: 500px;
}

.lizzard-archer {
  background-image: url("../../assets/img/Enemies/lizardArmy/03.png");
  width: 280px;
  margin-top: 160px;
  height: 500px;
}

.grarp {
  background-image: url("../../assets/img/Enemies/lizardArmy/02.png");
  width: 240px;
  margin-top: 200px;
  height: 500px;
}

.gulper {
  background-image: url("../../assets/img/Enemies/lizardArmy/01.png");
  width: 240px;
  margin-top: 200px;
  height: 500px;
}

.wolf {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/01.png");
  width: 250px;
  margin-top: 130px;
  height: 500px;
}

.thunder-bore {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/02.png");
  width: 280px;
  margin-top: 80px;
  height: 500px;
}

.crecent-wild-cat {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/03.png");
  width: 150px;
  margin-top: 250px;
  height: 500px;
}

.mistic-mountains-ram {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/04.png");
  width: 280px;
  margin-top: 90px;
  height: 500px;
}

.kackle {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/05.png");
  width: 300px;
  margin-top: 50px;
  height: 500px;
}

.theo-caber-cat {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/06.png");
  width: 360px;
  margin-top: 0px;
  height: 500px;
}

.silver-back {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/07.png");
  width: 300px;
  margin-top: 80px;
  height: 500px;
}

.ferdinand {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/08.png");
  width: 280px;
  margin-top: 60px;
  height: 500px;
}

.kodiack {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/09.png");
  width: 350px;
  margin-top: 0px;
  height: 500px;
}

.ivory-tusk {
  background-image: url("../../assets/img/Enemies/FantacyAnimals/10.png");
  width: 500px;
  margin-top: -200px;
  height: 800px;
}

.tok {
  background-image: url("../../assets/img/Enemies/shadowMonsters/01.png");
  width: 180px;
  margin-top: 200px;
  height: 500px;
}

.shadow-elf-assassin {
  background-image: url("../../assets/img/Enemies/shadowMonsters/02.png");
  width: 200px;
  margin-top: 180px;
  height: 500px;
}

.ruin-sentinal {
  background-image: url("../../assets/img/Enemies/shadowMonsters/03.png");
  width: 300px;
  margin-top: 50px;
  height: 500px;
}

.cave-crawler {
  background-image: url("../../assets/img/Enemies/shadowMonsters/04.png");
  width: 380px;
  margin-top: -50px;
  height: 500px;
}

.shadow-elf-squire {
  background-image: url("../../assets/img/Enemies/shadowMonsters/05.png");
  width: 250px;
  margin-top: 100px;
  height: 500px;
}

.cave-witch {
  background-image: url("../../assets/img/Enemies/shadowMonsters/06.png");
  width: 300px;
  margin-top: 20px;
  height: 500px;
}

.cave-worm {
  background-image: url("../../assets/img/Enemies/shadowMonsters/07.png");
  width: 300px;
  margin-top: 80px;
  height: 500px;
}

.abomination {
  background-image: url("../../assets/img/Enemies/shadowMonsters/08.png");
  width: 280px;
  margin-top: 60px;
  height: 500px;
}

.mounted-shadow-elf {
  background-image: url("../../assets/img/Enemies/shadowMonsters/09.png");
  width: 350px;
  margin-top: 0px;
  height: 500px;
}

.cave-king {
  background-image: url("../../assets/img/Enemies/shadowMonsters/10.png");
  width: 500px;
  margin-top: -200px;
  height: 800px;
}
