.mission-card {
    background-image: url("../../assets/img/btns/missionBox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120px;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}
.mission-preview-img {
    background-color: aliceblue;
    width: 100%;
    background-size: 100% 100%;
    height: 100px;
}

.bg {
    background-image: url("https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/gameScreens/menueBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}