.power-bolt {
  background-image: url("https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/icons/skills/sfd_007.PNG");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: bottom;
  display: inline-block;
}

.heal {
  background-image: url("https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/icons/skills/sfd_031.png");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: bottom;
  display: inline-block;
}

.berzerk {
  background-image: url("https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/icons/skills/sfd_086.PNG");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: bottom;
  display: table-cell;
  display: inline-block;
}
