.celtic-border {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 6px solid;
  border-image: url(https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/cursor/blueCeltic.png) 12px / 12px;
}

.char-border {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 6px solid;
  border-image: url(https://esc-room-games.s3.us-west-1.amazonaws.com/LittleHealer/img/cursor/blueCeltic.png) 12px / 12px;
}

#bossName {
  color: white;
}
